<!doctype html>
<html lang="en" ng-app="toDoApp">
  <head>
    <meta charset="utf-8">
    <title>Angular Week</title>
    <script src="assets/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="controllers.js"></script>
    <script type="text/javascript" src="factories.js"></script>
    <script type="text/javascript" src="services.js"></script>
  </head>
  <body>
    <div ng-controller="ToDoController as toDoListController">
      <ul>
        <li ng-repeat="todo in toDoListController.todos">
          <p>{{todo.task}}: {{todo.completed ? "completed" : "not completed" }}
          <button ng-click="toDoListController.deleteToDo(todo)">
            Delete
          </button>
          <input ng-model="todo.completed" type="checkbox">
        </li>
      </ul>
        <button ng-click="toDoListController.addToDo(todoText)">Add todo:
        </button>
        <input ng-model="todoText">
    </div>
  </body>
</html>
